<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>About Us</title>
    <link rel="icon" href="img/profile.png">
    <style>
        body{
            background: url(img/contact1.png);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="img/profile.png" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">Medic Locker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="disease.html">Major Diseases</a>
                        <a class="dropdown-item" href="addiction.html">Major Addiction Issues</a>
                        <a class="dropdown-item" href="life.html">Helathy LifeStyle</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="write.html">Write for Us</a>
                        <a class="dropdown-item" href="support.html">Support US</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 bt" type="submit">Search</button>
            </form>
            <div class="mx-2">
                <button class="btn btn-outline-danger bt" data-toggle="modal" data-target="#LoginModal">LOGIN</button>
            </div>
        </div>
    </nav>


    <!-- Login Modal -->
    <div class="modal fade login" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Login to Medic Locker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login Type
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="doc_login.html">Doctor</a>
                        <a class="dropdown-item" href="pat_login.html">Patient</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about">
        <h1 class="hd"> ABOUT US </h1>
    </div>
    <div class="register">
    <br>
    <h4 class="tt1">Read Below to Know about us :- <img class="style" src="img/icon.png" alt=""></h4>
    <br>
    <h5 class="tt">Partnerships among families, physicians, and other caring professionals are the foundation of the Medical Home approach to care</h5>
    <br>
    <hr class="featurette-divider">
    <br>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h1 class="featurette-heading head">Online Medical Locker :</h1>
            <h4 class="text-muted tt">It'll blow your mind</h4>
            <p class="lead">The Medical Home Portal is a unique source of reliable information about children and youth
                with special health care needs (CYSHCN), offering a “one-stop shop” for their: </p>
            <ul>
                <li>Families</li>
                <li>Physicians and Medical Home teams</li>
                <li>Emergency Treatment</li>
                <li>Other Professionals and Caregivers</li>
                <li>Global Accessibility</li>
                <br>
                <br>
            </ul>
            <hr>
            <h5>We made Medical Locker to provide healthcare related information of the citizens of India to related
                Doctor's at any place and to serve as a single point of access for consolidated health information.</h5>
            <hr>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="img/workplace.svg" alt="500x500"
                style="width: 500px; height: 500px;"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_1724bb386ff%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_1724bb386ff%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.2828125%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                data-holder-rendered="true">
        </div>
    </div>
    <hr>
    <div class="container cn">
        <br>
        <hr>
        <h3 class="hd"> What You’ll Find in the Portal</h3>
        <hr>
        <br>
        <h5 class="mid">Written by parents of Children and Youth with Special Health Care Needs (CYSHCN), this section
            aims to help families :- </h5 class="mid">
            <br>
        <ul class="mid">
            <hr>
            <li>Navigate the journey from diagnosis to adulthood</li>
            <li>All information of patients regarding his personal details,medical history and social history</li>
            <li>Public Awareness from major spreading diseases</li>
            <li>Prevention & Wellness Of the leading causes of death in the INDIA</li>
            <li>Tips for living Healthy life</li>
            <li>Find valuable information, resources, and support</li>
            <li>And more...</li>
            <br>
            <hr>
            <br>
        </ul>
        <br>
    </div>
    <hr class="featurette-divider">
    <br>
    <div class="row featurette">
        <div class="col-md-5 order-md-2">
            <h1 class="featurette-heading head">Oh yeah, it's that good.</h1>
            <h4 class="text-muted tt">See for yourself.</h4>
            <p class="lead">It is very easy to get a Medical Locker for each and every patients and doctor ...</p>
            <p class="lead">What you all have to do is just complete our Registration Process and then simply log in with us and 
                enjoy our Locker system and keep connected with your health.
            </p>
            <h2 class="lead">And what we do :-</h2>
            <ul>
                <li>Collect your Data</li>
                <li>Store it in our Database</li>
                <li>Make it accessible Globally</li>
                <li>And Serve You</li>
            </ul>
            <hr>
            <h5>We made Medical Locker to keep you connected with your Health</h5>
            <hr>
                </div>
        <div class="col-md-5 order-md-1" style="margin-left: 2cm;">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="img/satelite.svg"
                data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="container cn">
        <br>
        <hr>
        <h2 class="hd"> The Medical Locker</h2>
        <hr>
        <ul>
            <br>
            <li><strong>Vision</strong>: All children and youth with special health care needs (CYSHCN) and their families achieve optimal outcomes through improved availability and quality of information, healthcare, related services, and coordination of care.
            <p>The Medical Locker Portal aims to make this as a single point access for authenticated medical reports and history of patients. </p>   
            </li>
            <li><strong> Mission </strong>: To help professionals and families work together to care for patients.
                </li>
                <br>
            <li><strong>Long-Range Goal </strong>: To improve outcomes for youth with special health care needs (CYSHCN) and their families by enhancing the availability and quality of healthcare, related services, and coordination of care.
            <p>Gateway to authentic Medical Reports and History for all.</p>
            </li>
        <br><br>
        </ul>
    </div>
    <br>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading head">And lastly, this one. </h2>
            <br>
            <h4 class="text-muted">Our Team Includes :- </h4>
            <ul>
                <br>
                <li><strong>Siddharth Choubey</strong> - Mentor</li>
                <li><strong>Pradyuman Roy</strong> - Mentor</li>
                <li><strong>Mahan Gupta</strong> - Team Leader(UI and Backend)</li>
                <li><strong>Anurag Tiwari </strong>- App Developer</li>
                <li><strong>Mohit Patel</strong> - Researcher</li>
                <li><strong>Jaideep</strong> - Learner</li>
                <li><strong>Sheril Patel </strong>- Python and Database</li>
                <li><strong>Prachi Namdeo</strong> - Database Connectivity</li>
                </ul>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="img/team.png"
                data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2020-2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
<script src="js/myscripts.js"></script>

</html>