<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Major Addiction</title>
    <link rel="icon" href="img/profile.png">
    <style>
        .head {
            background: #f18547;
            color: #fff;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .i1 {
            width: 100%;
            background: cover;
        }

        .h {
            color: #1c1d5a;
        }

        .p {
            font-size: 10px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="img/profile.png" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">Medic Locker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="disease.html">Major Diseases</a>
                        <a class="dropdown-item" href="addiction.html">Major Addiction Issues</a>
                        <a class="dropdown-item" href="life.html">Helathy LifeStyle</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="write.html">Write for Us</a>
                        <a class="dropdown-item" href="support.html">Support US</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 bt" type="submit">Search</button>
            </form>
            <div class="mx-2">
                <button class="btn btn-outline-danger bt" data-toggle="modal" data-target="#LoginModal">LOGIN</button>
            </div>
        </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade login" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Login to Medic Locker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login Type
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="doc_login.html">Doctor</a>
                        <a class="dropdown-item" href="pat_login.html">Patient</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="i1" src="img/drug1.jpg" alt="">
        <h2 class="head">What's Killing India? Knowing Top Addiction Issues in India</h2>
    </div>
    <br><br>
    <div class="container">
        <h2 class="h">What's Killing India? Recognizing an Addiction Problem in India </h2>
        <p class="p">March 2018</p>
        <br>
        <h4>What is an Addiction ? </h4>
        <br>
        <p><strong>Addiction </strong> is a brain disorder characterized by compulsive engagement in rewarding stimuli
            despite adverse consequences.
            Despite the involvement of a number of psychosocial factors, a biological process—one that is induced by
            repeated exposure to an addictive stimulus—is the core pathology that drives the development and maintenance
            of an addiction, according to the "brain disease model" of addiction.</p>
        <p>Recognizing an addiction problem in someone you know can be harder than it seems. The American Society of
            Addiction Medicine (ASAM) defines addiction as a chronic disease that affects the brain’s reward,
            motivation, and memory functions. Someone with an addiction will crave a substance or other behavioral
            habits. They’ll often ignore other areas of life to fulfill or support their desires.</p>
        <br>
        <h5><strong>General Signs Of Addiction are :</strong></h5>
        <br>
        <ul>
            <p>
                <li>lack of control, or inability to stay away from a substance or behavior</li>
            </p>
            <p>
                <li>lack of control, or inability to stay away from a substance or behavior</li>
            </p>
            <p>
                <li>ignoring risk factors, like sharing needles despite potential consequences</li>
            </p>
            <p>
                <li>physical effects, like withdrawal symptoms or needing higher dosage for effect</li>
            </p>
        </ul>
        <br>
        <p>These <strong>signs</strong> are commonly linked. The degree of <strong>intensity</strong> for each
            <strong>sign</strong> may depend on how <strong>long</strong> the <strong>addiction</strong> has been
            <strong>going on</strong>.</p>
        <p>A healthy person can usually identify a negative behavior and get rid of it. This is not the case with
            someone with an addiction. Rather than admit the problem exists, they’ll find ways to justify and continue
            the behavior.</p>
        <p>The first step to getting help is being able to recognize the physical, mental, and emotional signs, like
            abrupt weight or personality changes in your friends or family members. If you or someone you know has an
            addiction, call 1-800-622-4357 for free and confidential treatment referral and information from
            <strong>Substance
                Abuse and Mental Health Services Administration (SAMHSA)</strong> .</p>
        <br>
        <h4><b>Types of Addiction :</b></h4>
        <p>Addiction is commonly associated with substance abuse, but behavioral addictions like gambling are just as
            serious. According to ASAM, addiction is when a person is unable to consistently abstain from a behavior or
            substance. This is typically at the cost of their mental and physical health.</p>
        <p>Substance addiction is dependence on any one or more of the following :</p><br>
        <ul>
            <li>Nicotine, or Tobacco.</li><br>
            <li>Alcohol.</li><br>
            <li>Inhalants, often household items like oven cleaners, spray paints, or other aerosol products</li><br>
            <li>drugs, illicit or non-illicit</li><br>
            <li>Medication</li>
        </ul><br>
        <p><strong>Studies suggest</strong> Trusted Source that behavioral addictions are as serious as substance
            addictions. Both types
            result in dependency and have the same or similar negative consequences. Behavioral addiction can include :
        </p><br>
        <ul>
            <li>Gambling.</li><br>
            <li>Working.</li><br>
            <li>Sex.</li><br>
            <li>Shopping.</li><br>
            <li>Video Games (PUBG , Freefire , Clash of Clans etc. )</li><br>
            <li>USing the Internet or Media</li>
        </ul>
        <br>
        <p>No matter the type of addiction, it’s important to recognize warning signs and seek help if necessary.</p>
        <br>
        <h4><b>Status of Drugs in India : </b></h4>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>The population of India has reached over 1 billion people and is rising. The country is growing
                        at an
                        incredible pace. Its culture, social values, demographics and economy is rapidly changing, and
                        these
                        stresses are having an impact on the people. Some evidence suggests that there is an increasing
                        use
                        of
                        illicit drugs and reported numbers point to over 3 million drug addicts in India. However, the
                        <strong>World
                            Health
                            Organization</strong> does note that there is significant difficulty in estimating drug
                        usage
                        and
                        addiction rates in
                        the country due to poor bureaucratic processes and census reporting.</p>
                    <p>Cannabis, heroin, opium and hashish are the most commonly used drugs in India. However, some
                        evidence
                        indicates that there is an increasing prevalence of methamphetamine as well. Drug addiction is a
                        major
                        problem for many families, communities and law enforcement. Massive numbers of addicts are left
                        to
                        be
                        treated by the families as financial costs, available services and lack of appropriate care
                        challenge the
                        country. This is not only the case for drug addicts.</p>
                    <p>HIV is a significant issue for drug addicts in India with over 2.4 million people infected. This
                        places India
                        as the third-highest country in terms of rate of infection in the world. Injecting drug users
                        making
                        up
                        nearly 10 percent of the affected groups. HIV positive drug users are often violently attacked,
                        discriminated against, rejected by families and communities. Some HIV positive people hide their
                        status due
                        to fears and anxieties about being denied medical care, housing or jobs and this places others
                        at
                        risk. The
                        increasing rate of HIV that spread throughout all communities of India alarmed the government
                        who
                        began on a
                        policy of harm reduction which included needle exchange programs and maintenance therapy.</p>
                </div>
                <div class="col-sm">
                    <img src="img/drug2.jpg" alt="">
                </div>
            </div>
        </div>
        <br>
        <h4><b>In Recovery—Steps to Overcoming Addiction : </b></h4>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <br><br><br><br><br>
                    <h4>Youth have to Fight with their Addiction beacause they are the Future of Our Country..</h4>
                    <h5>Most people know that addiction, can be overcome with treatment. But like many other diseases, it is often a
                        winding road to get there. So, what are the steps to a healthier, drug-free life?
                    </h5>
                </div>
                <div class="col-sm">
                    <img src="img/youth.jpg" alt="">
                </div>
            </div>
        </div><br><br>
        <p><strong>Seek treatment.</strong> The first step to recovery is to decide to seek treatment. It’s hard for
            people to recognize
            or admit they have a problem, even when they are putting their lives – or the lives of others – at risk. It
            doesn’t help that the brain’s decision-making center is impaired when under the influence of drugs or
            alcohol. Treatment may mean medications, behavioral counseling, or a combination of the two.</p>
        <p><strong>Learn new habits.</strong> Relapse (or returning to drug use) is common with addiction and is an
            expected part of treatment. Returning to the people, places, or things associated with former drug use can
            actually trigger
            relapse—before the addicted person is even aware of it. Behavioral therapy can teach the person in recovery
            to avoid these triggers and learn new coping skills so they can make better decisions.</p>
        <p><strong>Take it one step at a time.</strong> Recovery takes time. Treatment works best when it is long-term,
            at least 90 days
            in most cases. And because people treated for drug addiction are vulnerable to relapse even after they’ve
            been off drugs for a long while, most treatment professionals would say that someone with a past drug or
            alcohol problem is “in recovery” for a lifetime.</p>
        <p><strong>Find treatment.</strong> If you are interested in finding drug abuse treatment for yourself or a friend or family
            member, look up facilities near you by using the Substance Abuse Facility Treatment Locator, provided by the
            Substance Abuse and Mental Health Administration.</p>
        <br><hr><br><br>
        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>© 2020-2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>