<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>COVID - 19</title>
    <link rel="icon" href="img/profile.png">
    <style>
        .head {
            background: #21b6f1;
            color: #fff;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .i1 {
            width: 100%;
            background: cover;
        }

        .h {
            color: #1c1d5a;
            text-align: center;
        }

        .p {
            font-size: 10px;
            margin-left: 22%;
        }

        .style {
            width: 110%;
            position: relative;
            bottom: 0;
            right: 0;
            animation: slidein 1s ease-in-out;
            z-index: 8;
        }

        @keyframes slidein {
            0% {
                right: -2000px;
                opacity: 0;
            }

            100% {
                right: 0;
                opacity: 1;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="img/profile.png" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">Medic Locker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="disease.html">Major Diseases</a>
                        <a class="dropdown-item" href="addiction.html">Major Addiction Issues</a>
                        <a class="dropdown-item" href="life.html">Helathy LifeStyle</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="write.html">Write for Us</a>
                        <a class="dropdown-item" href="support.html">Support US</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 bt" type="submit">Search</button>
            </form>
            <div class="mx-2">
                <button class="btn btn-outline-danger bt" data-toggle="modal" data-target="#LoginModal">LOGIN</button>
            </div>
        </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade login" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Login to Medic Locker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login Type
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="doc_login.html">Doctor</a>
                        <a class="dropdown-item" href="pat_login.html">Patient</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="i1" src="img/cov9.png" alt="">
        <h1 class="head">What is coronavirus (COVID-19) and how can We prepare? </h1>
    </div><br><br>
    <div class="container">
        <h2 class="h">Corona (Covid-19) : What we should Know ? </h2>
        <p class="p">April 2020</p>
        <br>
        <h3>What is Corona Virus ?</h3>
        <br>
        <div class="row">
            <div class="col-9">
                <p style="font-size: 19px;">A coronavirus is a kind of common virus that causes an infection in your
                    nose, sinuses, or upper
                    throat. Most coronaviruses aren't dangerous.</p>
                <p style="font-size: 19px;">In early 2020, after a December 2019 outbreak in China, the World Health
                    Organization identified
                    SARS-CoV-2 as a new type of coronavirus. The outbreak quickly spread around the world.</p>
                <p style="font-size: 19px;">COVID-19 is a disease caused by SARS-CoV-2 that can trigger what doctors
                    call a respiratory tract
                    infection. It can affect your upper respiratory tract (sinuses, nose, and throat) or lower
                    respiratory tract (windpipe and lungs).

                    It spreads the same way other coronaviruses do, mainly through person-to-person contact. Infections
                    range from mild to deadly.</p>
            </div>
            <div class="col">
                <img class="style" src="img/card11.png" alt="">
            </div>
        </div><br><br>
        <h3>What's different about coronavirus (COVID-19)?</h3><br>
        <p style="font-size: 19px;">While coronaviruses are common, coronavirus (COVID-19) is a new strain of
            coronavirus that had previously not been identified in humans. The key features of COVID-19 are respiratory
            symptoms with a fever and cough. Like all new infections, understanding COVID-19 is important and changes
            rapidly. The CDC is proactively monitoring the virus and taking measures like providing guidance for health
            care workers and issuing travel recommendations.</p><br><br>
        <h2>Covid-19 pandemic in INDIA :</h2><br>
        <div class="row">
            <div class="col-8">
                <p style="font-size: 19px;">India reported the first confirmed case of the coronavirus infection on 30
                    January 2020 in the state of
                    Kerala. The affected had a travel history from Wuhan, China.
                    New confirmed cases are being reported in multiple cities such as New Delhi, Mumbai, Bengaluru,
                    Hyderabad, and Patna.</p>
                <p style="font-size: 19px;">Map shows the states affected by COVID-19 in INDIA.</p>
                <p>India had witnessed a surge in confirmed coronavirus cases after people who attended the Tablighi
                    Jamaat religious congregation at Nizamuddin Markaz in Delhi started testing positive for the virus.
                    Held in mid-March, the meeting is estimated to have been attended by more than 5,000 members
                    including foreigners</p>
                <p>The Indian government has mandated that non-resident Indians (NRIs) arriving to the country should
                    carry a coronavirus-negative certificate from designated hospitals in the countries they are
                    travelling from.

                    The Indian government has advised all Indians to avoid non-essential travel abroad. Self-quarantine
                    is mandated to passengers arriving in India from China, Hong Kong, Republic of Korea, Japan, Italy,
                    Thailand, Singapore, Iran, Malaysia, France, Spain and Germany.</p>
            </div>
            <div class="col">
                <img src="img/map.jpg" alt="">
            </div>
        </div><br><br>
        <h2>Symptoms of COVID-19 :</h2><br>
        <p style="font-size: 19px;">According to researchers , these were the most common symptoms among people who had
            COVID-19 :</p>
        <ul>
            <li>Fever 99%</li><br>
            <li>Fatigue 70%</li><br>
            <li>Cough 59%</li><br>
            <li>Lack of Appetite 40%</li><br>
            <li>Body aches 40%</li><br>
            <li>Trouble breathing or shortness of breath 31%</li><br>
            <li>Mucus/Phlegm 27%</li>
        </ul>
        <p>Some people who are hospitalized for COVID-19 have also have dangerous blood clots, including in their legs,
            lungs, and arteries.</p><br><br>
        <h3>Corona Virus Risk Factors : </h3><br>
        <p style="font-size: 19px;">Anyone can get COVID-19, and most infections are usually mild, especially in
            children and young adults. But if you aren’t in an area where COVID-19 is spreading, haven’t traveled from
            an area where it’s spreading, and haven’t been in contact with someone who has it, your risk of infection is
            low.</p>
        <p style="font-size: 19px;">People over 65 are most likely to get a serious illness, as are those who live in
            nursing homes or long-term care facilities, who have weakened immune systems, or who have medical conditions
            including:</p>
        <ul style="margin-left: 20%;">
            <li>High Blood Pressure.</li>
            <li>Heart Disease</li>
            <li>Lung Disease</li>
            <li>Asthma</li>
            <li>Kidney Disease that needs Dialysis</li>
            <li>Diabetes</li>
            <li>Cancer Treatment , especially chemotherapy</li>
            <li>Liver Disease</li>
        </ul><br>
        <p>Some children and teens who are in the hospital with COVID-19 have an inflammatory condition that doctors are
            callingmultisystem inflammatory syndrome in children, or MIS-C. Doctors think it may be linked to the virus.
            It causes symptoms similar to those of toxic shock and of Kawasaki disease, a condition that causes
            inflammation in kids’ blood vessels.
        </p><br>
        <h3>Precautions for COVID-19 : </h3><br>
        <div class="row">
            <div class="col-6">
                Primary precaution is to Wear a cloth face covering (or face mask, if you have one) if they must be
                around other people. Cloth
                face coverings are for use only by people older than 2 years old who are not having trouble breathing.
                Do not leave a child alone while they're wearing a cloth face covering. To see how to put on and remove
                cloth face coverings and face masks, clean them, or make your own cloth face covering, check the CDC's
                guide. There are also many others precautions given below :
            </div>
            <div class="col">
                <img src="img/mask1.jpg" alt="">
            </div>
        </div><br>
        <ul>
            <li>As much as possible, keep away from other people and pets in your home.</li><br>
            <li>Cover coughs and sneezes with a tissue, throw the tissue away, and then wash their hands right away.
                Wash with soap and water for at least 20 seconds, or use alcohol-based hand sanitizer.</li><br>
            <li>Use separate dishes, glasses, cups, and eating utensils and not share these with other household
                members. After use, run them through the dishwasher or wash with very hot soapy water.</li><br>
            <li>Use separate bedding and towels and not share these with other household members. </li><br>
            <li>If the person who is sick can't wear a cloth face covering (or face mask), caregivers should wear one
                while they're in the same room.</li><br>
            <li>All household members should wash their hands well and often. Wash with soap and water for at least 20
                seconds, or use alcohol-based hand sanitizer.</li><br>
            <li>Wash the sick person's clothing, bedding, and towels with detergent on the hottest temperature possible.
                Wear gloves when handling their laundry, if possible. Wash your hands well after handling the laundry
                (even if you wore gloves).</li><br>
            <li>Every day, use a household cleaner or wipe to clean things that get touched a lot. These include
                doorknobs, light switches, toys, remote controls, sink handles, counters, and phones. Keep a sick
                child's toys separate from other toys, if possible.</li><br>
            <li>If you must go out of the house, wear a cloth face covering or face mask and keep at least 6 feet (2
                meters) of distance between you and other people.</li>
            <p>etc..</p>
        </ul><br>
        <h2>Cases in India : </h2><br>
        <p style="font-size: 19px;">On 24 June , 2020 there are 472,972 COVID-19 cases in India . </p>
        <p style="font-size: 19px;">14,907 are dead beacause of COVID-19 Pandemic and 271,688 people are recovered from COVID-19.</p>
        <br>
        <hr><br>
        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>© 2020-2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>