<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Healthy Lifestyle</title>
    <link rel="icon" href="img/profile.png">
    <style>
        .head {
            background: #f18547;
            color: #fff;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .i1 {
            width: 100%;
            background: cover;
        }

        .i2 {
            width: 80%;
        }

        .i3 {
            width: 80%;
        }

        .i4 {
            width: 90%;
        }

           
        .tip{
            background:#f59a65 ;
        }
        .h2{
            text-align: center;
            font-family: candara;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="img/profile.png" width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="#">Medic Locker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="disease.html">Major Diseases</a>
                        <a class="dropdown-item" href="addiction.html">Major Addiction Issues</a>
                        <a class="dropdown-item" href="life.html">Helathy LifeStyle</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="write.html">Write for Us</a>
                        <a class="dropdown-item" href="support.html">Support US</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 bt" type="submit">Search</button>
            </form>
            <div class="mx-2">
                <button class="btn btn-outline-danger bt" data-toggle="modal" data-target="#LoginModal">LOGIN</button>
            </div>
        </div>
    </nav>

    <!-- Login Modal -->
    <div class="modal fade login" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LoginModalLabel">Login to Medic Locker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login Type
                    </a>
                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="doc_login.html">Doctor</a>
                        <a class="dropdown-item" href="pat_login.html">Patient</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <img class="i1" src="img/nature5.jpg" alt="">
        <h1 class="head">Tips for Healthy and Safe Lifestyle !!! </h1>
    </div>
    <br><br>
    <div class="container">
        <h2 class="h">Health Tips for Healthy Living </h2>
        <p class="p">March 2018</p>
        <br>
        <h3>What is healthy living ?</h3>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p style="font-size: 17px;">This article is designed to give tips to readers about how they can
                        improve or augment actions in
                        their life to have a healthy lifestyle; it is not meant to be all inclusive but will include
                        major
                        components that are considered to be parts of a lifestyle that lead to good health. In addition
                        to
                        the tips about what people should do for healthy living, the article will mention some of the
                        tips
                        about avoiding actions (the don'ts) that lead to unhealthy living.</p>
                    <p style="font-size: 17px;"> <strong>"Healthy living"</strong> to most people means both physical
                        and mental health are in balance or functioning
                        well together in a person. In many instances, physical and mental health are closely linked, so
                        that
                        a change (good or bad) in one directly affects the other. Consequently, some of the tips will
                        include suggestions for emotional and mental "healthy living."</p>
                </div>
                <div class="col-sm">
                    <img src="img/yoga3.webp" alt="">
                </div>
            </div>
        </div>
        <br><br>
        <h3>Healthy eating (diet and nutrition) : </h3><br><br>
        <div class="row">
            <div class="col-sm">
                <img class="i2" src="img/hea.jpg" alt="">
            </div>
            <div class="col-sm">
                <p style="font-size: 19px;">All humans have to eat food for growth and maintenance of a healthy body,
                    but we
                    humans have different nutrition requirements as infants, children (kids), teenagers, young adults,
                    adults,
                    and seniors. For example, infants may require feeding every 4 hours until they gradually age and
                    begin to
                    take in more solid foods. Eventually they develop into the more normal pattern of eating three times
                    per day
                    as young kids. However, as most parents know, kids, teenagers, and young adults often snack between
                    meals.
                    Snacking is often not limited to these age groups because adults and seniors often do the same.</p>
            </div>
        </div><br><br>
        <h4>Instructions for Healthy Diet :</h4><br>
        <ul>
            <li>Eat three healthy meals a day (breakfast, lunch, and dinner); it is important to remember that dinner
                does not have to be the largest meal.</li><br>
            <li>The bulk of food consumption should consist of healthy foods, such as fruits, vegetables, whole grains,
                and fat-free or low-fat milk products.</li><br>
            <li>Control portion sizes; eat the smallest portion that can satisfy hunger and then stop eating.</li><br>
            <li>Healthy snacks are OK in moderation and should consist of items like fruit, whole grains, or nuts to
                satisfy hunger and not cause excessive weight gain.</li><br>
            <li>Avoid eating a large meal before sleeping to decrease gastroesophageal reflux and weight gain.</li><br>
            <li>Cooking foods (above 165 F) destroys most harmful bacteria and other pathogens; if you choose to eat
                uncooked foods like fruits or vegetables, they should be thoroughly washed with running treated (safe to
                drink) tap water right before eating.</li><br>
            <li>People trying to lose weight (body fat) should avoid all fatty and sugary foods and eat mainly
                vegetables, fruits, and nuts and markedly reduce his/her intake of meat and dairy products.</li><br>
            <li>Seek medical advice early if you cannot control your weight, food intake, or if you have diabetes and
                cannot control your blood glucose levels. </li>
        </ul>
    </div><br><br>
    <div class="container">
        <h3>Physical activity and exercise (YOGA) :</h3><br>
        <div class="row">
            <div class="col-sm">
                <p style="font-size: 19px;">Physical activity and exercise is a major contributor to a healthy
                    lifestyle; people are made to use their bodies, and disuse leads to unhealthy living. Unhealthy
                    living may manifest itself in obesity, weakness, lack of endurance, and overall poor health that may
                    foster disease development.</p>
                <p style="font-size: 19px;"><strong>YOGA</strong> is a group of physical, mental, and spiritual
                    practices or disciplines which originated in ancient
                    India. Yoga is one of the six Āstika (orthodox) schools of Hindu philosophical traditions.</p>
            </div>
            <div class="col-sm">
                <img class="i3" src="img/yoga.jpg" alt="">
            </div>
        </div><br><br>
        <h4>Benefits from regular Exercise and YOGA : </h4><br>
        <ul>
            <li>Regular fitness can help chronic arthritis sufferers improve their capacity to perform daily
                activities such as driving, climbing stairs, and opening jars.</li><br>
            <li>Regular exercise can help increase self-esteem and self-confidence, decrease stress and anxiety,
                enhance mood, and improve general mental health.</li><br>
            <li>Thirty minutes of modest exercise (walking is OK) at least 3 to 5 days a week is recommended, but
                the greatest health benefits come from exercising most days of the week.</li><br>
            <li>Regular exercise can help control body weight and in some people cause loss of fat.</li><br>
            <li>Regular exercise can prevent and reverse age-related decreases in muscle mass and strength, improve
                balance, flexibility, and endurance, and decrease the risk of falls in the elderly. Regular exercise
                can help prevent coronary heart disease, stroke, diabetes, obesity, and high blood pressure.
                Regular, weight-bearing exercise can also help prevent osteoporosis by building bone strength.</li>
        </ul>
        <h4>Tips for Exercise :</h4><br>
        <ul>
            <li>Start slowly and progress gradually to avoid injury or excessive soreness or fatigue. Over time, build
                up to 30 to 60 minutes of moderate to vigorous exercise every day</li><br>
            <li>People are never too old to start exercising. Even frail, elderly individuals (70-90 years of age) can
                improve their strength and balance with exercise.</li><br>
            <li>Children need exercise; play outside of the home is a good beginning.</li><br>
            <li>Exertion during strenuous exercise may make a person tired and sore, but if pain occurs, stop the
                exercise until the pain source is discovered; the person may need to seek medical help and advice about
                continuation of such exercise.</li><br>
            <li>Exercise can be broken up into smaller 10-minute sessions.</li><br>
        </ul><br>
        <h3>Mental Health : </h3><br>
        <div class="row">
            <div class="col-sm">
                <img class="i4" src="img/mental.jpg" alt="">
            </div>
            <div class="col-sm">
                <p style="font-size: 17px;"><strong>Mental health</strong> is the level of psychological well-being or
                    an absence of
                    mental illness. It is the
                    state of someone who is "functioning at a satisfactory level of emotional and behavioral
                    adjustment". From the perspectives of positive psychology or of holism, mental health may include
                    an individual's ability to enjoy life and to create a balance between life activities and efforts to
                    achieve psychological resilience.</p>
                <p style="font-size: 17px;">Mental health problems may arise due to stress, loneliness, depression,
                    anxiety, relationship
                    problems, death of a loved one, suicidal thoughts, grief, addiction, ADHD, self-harm, various mood
                    disorders, or other mental illnesses of varying degrees, as well as learning disabilities. </p>
                <p style="font-size: 17px;"><strong>Healthy living</strong> involves more than physical health, it also
                    includes
                    emotional or mental health. The following are some ways people can support their mental health and
                    well-being.</p>
            </div>
        </div><br>
        <h4>Ways to support Mental Health : </h4><br>
        <ul>
            <li>Take a walk and reflect on what you see and hear at least several times per week</li><br>
            <li>Do some mind exercises (read, do a puzzle occasionally during the week).</li><br>
            <li>Plan to spend some time talking with other people about different subjects.</li><br>
            <li>Learn ways to say "no" when something occurs that you do not want to do or be involved with.</li><br>
            <li>Let yourself be pleased with your achievements, both big and small (develop contentment).</li><br>
            <li>People taking medicine for mental health problems should not stop taking these medications, no matter
                how "well" they feel, until they have discussed their situation with their prescribing doctor(s).</li>
            <br>
            <li>Get enough sleep daily; the CDC recommends the following by age group (naps inclusive); 12-18 hours from
                birth to 2 months, 14-15 hours from 3-11 months of age, 12-18 hours for 1-3 years of age, 11-13 hours
                for 3-5 years of age, 10-11 hours for 5-10 years of age, 8.5-9.5 hours for 10-17 years of age and those
                18 and above need 7-9 hours of sleep. Elderly people need about 7-9 hours but do not sleep as deeply and
                may awaken at night or wake early, so naps (like kids need) allow them to accumulate the total of 7-9
                hours of sleep.</li>
        </ul>
    </div><br><hr><br>
    <div class="tip container">
        <h2 class="h2">Important Tips (must follow for Healthy life) : </h2>
        <ul>
            <li><strong>Avoid Tobacco Use : </strong> Tobacco use is the most important preventable illness and cause of
                death in the U.S., according to the National Cancer Institute (NCI). Tobacco use was estimated to be the
                cause of 443,000 deaths in 2018 .</li><br>
            <li><strong>Avoid excessive alcohol consumption : </strong>Chronic, excess alcohol consumption is the major
                cause of liver cirrhosis</li><br>
            <li><strong>Avoid high-risk sexual behaviors : </strong>High-risk sexual behavior can lead to the
                acquisition of sexually transmitted illnesses such as gonorrhea, syphilis, herpes, or HIV infection.
                High-risk sexual behavior is also known to spread human papillomavirus infection, which can lead to
                cervical cancer in women and other anogenital cancers in both men and women. High-risk sexual behaviors
                include the following:</li><br>
            <li><strong>Quit Smoking : </strong> Set a date for quitting. If possible, plan to have a friend quit
                smoking with you. It's best to pick a day within the next month. A date too far off in the future will
                give you a chance to procrastinate and postpone, while a date too soon may not allow you to make a plan
                for medications or support systems.</li>
        </ul>
        <p> Although there are many other risky behaviors that may impede an otherwise healthy lifestyle (for
            example, working with toxic or radioactive materials, drug addiction, travel to areas with unusual
            endemic diseases etc)
        </p>
    </div>
    <br>
    <hr><br>
    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2020-2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>